/*
File  : components/_index.scss
Date  : 12 Sep 16
Author: Jayames Young
*/


// ===============================
// Main menu
// ===============================
@import 'main-menu';

// ===============================
// Main header
// ===============================
@import 'main-header';

// ===============================
// Main form
// ===============================
@import 'main-form';