<h1>Not an Ipsum Generator</h1>

<p>This is not an ipsum generator. Ipsum is a Latin word. If it generated ipsum, then you would simply get a list of the word 'ipsum' repeated  over and over. This is simply a word generator and though there is the option to generate Lorem Ipsum. You can also generate other varieties of words, Doctor Who, German, and Meat</p>

<p>The main purpose of this word generator is for me to practice AngularJS. I also use filler text from time to time when developing websites, so having a variety of filler text is nice. That's it, nothing special, just practice and the need for filler text.</p>

<p><span class="warning">Warning</span> or not a warning, you probably expect this. If you only chose words then you will get a bunch of gibberish. If you choose sentences, paragraphs, or lists you will get sentences that make sense (barely), but they may not make sense next to the other sentences. It's all <b>random madness</b>.</p>
